@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100&display=swap');
/*Universal styling*/
*{
    margin:0 ;
    padding: 0;
    font-family:raleway;

}

.navbar{
    z-index: 20;
    height: 80px;
}
/*landing page*/
.nav-link{
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    text-transform: uppercase;
    
}

body{
    background-color: lightyellow;
}
.navbar-toggler {
    background-color: goldenrod;
}
.nav-link{
    float:left;
}
.nav-link:hover{
    /* transform: scale(1.2) translateX(42px); */
    scale: 1.2;
    transform: translateX(10px);

}
.nav-link:hover{
    color: gold;
}
.logo{
    width: 5rem;
}
.detail{
     width: 100%;
    padding: 100px 0px;
    background-color:lightyellow;

}
.detail {
    margin-left: 8%;
    margin-top: 18%;
}
.detail h1{
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
}
span{
    color: gold;
}
.detail p{
    color:black;
    line-height: 22px;
    letter-spacing: 1px;
 
 }
 .detail a{
    background: black;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: gold;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;


}

.images {
    width: 45%;
    height: 60%;
    position: absolute;
    bottom:0;
    right: 100px;
}
.images img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    transition: bottom is, left is;
}
.images:hover .kreeD-Shape{
    bottom: 40px;

}
.images:hover .me{
    left: 45%;
}
a:hover{
    transform: scale(1.2);
}



/* Sections */
section {
    scroll-margin-top: 100px;
}


/* About me Section*/



/*Projects section*/
#Projects{
    background-color: lightyellow;
    width: 100%;
    padding: 100px 0px;
    background-size: 100% 100%;
}
.title h2{
    color: black;
    font-size: 75px;
    width:1130px;
    margin: 30px auto;
    text-align: center;
}
/*Testimonial Section*/
#Testimonial{
    background-size: 100% 100%;

}
/* Education */
.ex-me{
    margin-top: 35px;
}
/* .card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  }
  @media screen and (max-width: 720px) {
    .container img{
        width: 100%;
    }
    
} */
/* Skills Section */
.skills {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background: lightgoldenrodyellow;

}
.cont {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;

}
.cont .skillCard {
    position: relative;
    width: 220px;
    height: 250px;
    background: #303030;
    display:flex;
    justify-content: center;
    align-items: center;
}
.cont .skillCard .percent {
    position: relative;
    width: 150px;
    height: 150px;
       
}
.cont .skillCard .percent svg{
    position: relative;
    width: 150px;
    height: 150px;
    transform:rotate(270deg)


}
.cont .skillCard .percent svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 2;
    stroke: #191919;
    transform: translate(5px,5px);
}


.cont .skillCard .percent svg circle:nth-child(2) {
    stroke:var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;

}
.dot {
    position: absolute;
    inset: 5px;
    z-index: 10;
    transform: rotate(calc(3.6deg * var(--num)));
    animation: animateDot 2s linear forwards;
}
@keyframes animeDot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(calc(33.6deg * var(--num)));
    }
}
.dot ::before{
    content: '';
    position:absolute;
    top: -5px;
    left: 50%;
    transform:translate(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr);
}
.number {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;

}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.number h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 2.5em;

}
.number h2 span {
    font-weight: 300;
    color: white;
    font-size: 0.5em;
}
.number p {
    font-weight :300;
    font-size: 0.75em;
    line-height: 2px;
    margin-top: 5px;
    text-transform: uppercase;
    color:lightblue;


}
/* Testimonial */
.card-body{
    background: goldenrod;
}
.card-body p {
    font-weight: 700;
    color: black;
}
/* contact Page */
.head{
    background-color: black;
    background-size: 100% 100%;
}
.card-bodyContact{
    background-color: lightgoldenrodyellow;
}
.btn {
background: black;
padding: 10px 18px;
text-decoration: none;
font-weight: bold;
color: gold;
display: inline-block;
margin: 30px 0;
border-radius: 5px;
}
.btn {
    background-color:black;
    border: 2px solid black;
    cursor: pointer;
}
.btn:hover{
    color: gold;
    background: black;
    transform: scale(1.1);
    border: 2px solid black;
}
input {
    box-shadow: goldenrod;
    
}
input:hover {
    box-shadow: 0px 1px 13px black;
}
/* footer section */
footer {
    font-weight: 400;
    background-color: gold;
    
}
.footer{
    padding: 40px 0;
    background-color: goldenrod;
}
footer p{
    color: black;
}
.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;

}
.footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity:0.75 ;

}
.footer .social a:hover{
    opacity: 0.9;
}